/* default css version */
@import "reset.less";
@import "buttons.less";
@import "forms.less";

.font-normal(){
  font-family:'Helvetica Neue', Helvetica, Arial, serif;
}
.font-bold(){
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;
}
.font-thin(){
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight:300;
}

body    {
  .font-normal();
  background:#f0eded;
  font-size:80%; color:#555; -webkit-font-smoothing:antialiased; overflow-x:hidden;
  -webkit-user-select:none;
}
*			{ font-weight:normal; }

.font-bold, strong, label	{ .font-bold(); }
.font-thin, h1.loader a strong	{ .font-thin(); }

a		    { text-decoration:none; color:#7d7c7c; -webkit-touch-callout:none; }
a:hover 	{ outline:none; }

#global			{ position:relative; z-index:1; overflow:hidden; }
#main 			{ width:100%; overflow-x:hidden; overflow-y:scroll; padding:44px 0 0 0; }
#wrapper		{
  position:relative;

  *		{ -webkit-transform:translate3d(0,0,0) scale3d(1,1,1); -webkit-transform-style: preserve-3d; }
  div	{ z-index:1; }
}

header {
  height:44px; background:#37AB2F; color:#FFF; position:fixed; top:0; left:0; right:0; z-index:50;
  
  h1 { .font-thin(); text-align:center; line-height:44px; text-indent:-9000px; background-position:center; }
}

div.page {
  background:#f0eded; z-index:1; position:relative;
  
  div.wrap {
    padding:10px;
  }
}

div.invite {
  margin:0 0 16px 0;

  p.title  {
    padding:0 0 .8em 0; font-size:1.2em; color:#333; line-height:1.3em;
  }
  
  p.location {
    height:30px; margin:0 0 6px 0; line-height:30px; text-indent:28px; font-size:1.8em; background-position:center left;
  }
  
  p.time {
    padding:0 0 0 28px; font-size:1.2em; .font-thin(); line-height:1.5em; color:#999;
    span {
      color:#333;
    }
  }
}

.group {
  background-color:#FFF; box-shadow:0 1px 0px 0px rgba(0, 0, 0, .16); overflow:hidden; min-height:44px; border-radius:3px;
  
  li, .group-item {
    display:block; border-bottom:1px solid #DCD9D9;
  }
  
  li:last-child, .group-item:last-child {
    border-bottom:none;
  }
}

h2 { border-bottom:1px solid #CCC; height:40px; line-height:40px; text-align:center; margin:0 0 10px 0; }
h3 { margin:0 0 6px 0; font-size:1em; color:#939393; text-align:center; .font-bold(); }

nav.steps { text-align:center; margin:0 0 6px 0; }
nav.steps span  { display:inline-block; width:8px; height:8px; margin:0 2px; border-radius:4px; background:rgba(0, 0, 0, .4); }

ul.availabilities {
  text-align:center; margin:0 0 10px 0;
  li {
    display:inline-block; margin:0 3px 3px 0; border-radius:3px; background-color:#FFF; box-shadow:0 1px 0px 0px rgba(0, 0, 0, .16);
  }
  label { display:inline-block; color:#4B4949; height:40px; line-height:40px; width:70px; padding:0 10px 0 14px; text-align:left; }
  input {
    float:right; width:13px; height:13px; margin:14px 0 0 0; -webkit-appearance:none;
  }
}

div.submit  {
  padding:10px; text-align:center;
  
  .btn  {
    margin:0 auto;
  }
}

div.place_selector		{
  div.current_location {
    background-color:#FFF; box-shadow:0 1px 0px 0px rgba(0, 0, 0, .16); overflow:hidden; border-radius:3px; margin:0 0 8px 0;
    padding:0 8px; line-height:40px;
    
    p {
      padding:0 0 0 28px; background-position:center left;
    }
    a {
      line-height:40px; font-size:1.2em;
    }
    span {
      display:block; background-position:center right;
    }
    
    div.map {
      height:280px; margin:0 0 8px 0; border-top:1px solid #DDD;
    }
  }
  
  div.foursquare {
    background-color:#FFF; box-shadow:0 1px 0px 0px rgba(0, 0, 0, .16); overflow:hidden; border-radius:3px; margin:0 0 8px 0;
    p.search {
      margin:0 8px;
      input { display:block; width:100%; height:40px; line-height:40px; text-indent:23px; font-size:1.1em; .font-normal(); color:#7d7c7c; background-position:center left; }
    }
    p.powered {
      border-top:1px solid #DDD;
      height:30px; text-indent:-9000px; background-position:center;
    }
  }
  
  ul.places {
    li {
      padding:10px; border-top:1px solid #DDD;
      
      a {
        display:block; background-position:center right;
      }
      a.hover, a.hover strong { color:#37AB2F; }
      
      strong {
        display:block; color:#333; font-size:1.1em; line-height:1.3em;
      }
    }
  }
}
