/* images */
@img_root: "/images/x@{ratio}";

.bgimg(@filename; @size: auto auto){
  @url: "@{img_root}/@{filename}";
  
  background-image: url(@url);
  background-size: @size;
}

header h1 { .bgimg('intown.png', 100px auto); }

div.invitation {
  p.location { .bgimg('icon-location.png', 20px auto); }
  p.time { .bgimg('icon-time.png', 20px auto); }
}

div.info p.start a { .bgimg('go_green.png', 8px auto); }
div.invitation div.info a { .bgimg('go.png', 8px auto); }

div.place_selector div.current_location p { .bgimg('icon-location.png', 20px auto); }
div.foursquare p.search input { .bgimg('icon-search.png', 20px auto); }
div.foursquare p.powered  { .bgimg('foursquare_powered.png', 207px auto); }

ul.availabilities input:checked, div.place_selector div.current_location span.selected, ul.places li.selected a { .bgimg('check.png', 13px auto); }

div.input.check input { .bgimg('checkbox.png', 20px auto); }
div.input.check input:checked { .bgimg('checkbox-checked.png', 20px auto); }